<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Salaries</title>
  <link rel="stylesheet" href="style.css">

</head>
<body>


<h2>All salaries</h2>


<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Salary</th>
  </tr>
  <!--название аттрибута, в котором лежит лист с работниками-->
  <div th:each="emp : ${allSalaries}">



    <tr>
      <td th:text="${emp.name}"></td>
      <td th:text="${emp.surname}"></td>
      <td th:text="${emp.salary}"></td>
    </tr>
  </div>


</table>

</body>
</html>